html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center{
	text-align: center;
}

/*WRAPPER SECTION*/
.wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 .5em 3em .5em;
	border: 2px solid orange;
	border-top: 5em solid orange;
	background-color: #333;
}

/*ADD NEW ITEM SECTION*/
.add-item{
	margin-bottom: 3em;
}

#newItem{
	width: 75%;
	padding: .5em;
}
.add{

}
.fa-plus-square{
	position: relative;
	color: orange;
	top: 12px;
	cursor: pointer;
}
/*SHOPPING LIST SECTION*/
.shopping-list{
	list-style: none;
	margin: 0;
	padding: 0;
}