html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center{
	text-align: center;
}

h1{
	color: #fff;
	font-size: 2.5em;
}

/*WRAPPER SECTION*/
.wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 .5em 3em .5em;
	border: 2px solid orange;
	border-top: 5em solid orange;
	background-color: #333;
}

/*ADD NEW ITEM SECTION*/
.add-item{
	margin-bottom: 3em;
}

#newItem{
	width: 75%;
	padding: .5em;
}
.add{

}

/*SHOPPING LIST SECTION*/
.shopping-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.item{
	padding: .5em 0;
}

.shopping-item{
	width: 75%;
	padding: .5em;
	margin: 0 5px;
	display: inline-block;
	background-color: #fff;
	text-align: left;
}

input.shopping-item{
	display: none;
}

/*ICONS SECTION*/
.fa-plus-square, .fa-trash, .fa-square-o, .fa-check-square{
	position: relative;
	color: orange;
	cursor: pointer;
	vertical-align: top;
}
.fa-trash, .fa-square-o, .fa-check-square{
	top: 6px;
}

.fa-check-square{
	color: #00802b;
}

.fa-trash{
	color: #990000;
}

.fa-square-o{
	color: #ccc;
}

.checked{
	text-decoration: line-through;
	color: #666;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 800px){
	.wrapper{
		width: 800px;
	}
}