html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center{
	text-align: center;
}

/*WRAPPER SECTION*/
.wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 .5em 3em .5em;
	border: 2px solid orange;
	border-top: 5em solid orange;
	background-color: #333;
}

/*ADD NEW ITEM SECTION*/
.add-item{
	margin-bottom: 3em;
}

#newItem{
	width: 75%;
	padding: .5em;
}
.add{

}

/*SHOPPING LIST SECTION*/
.shopping-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.item{
	padding: .5em 0;
}

.shopping-item{
	width: 75%;
	padding: .5em;
	margin: 0 5px;
}

/*ICONS SECTION*/
.fa-plus-square, .fa-trash, .fa-square-o, .fa-check-square{
	position: relative;
	color: orange;
	top: 12px;
	cursor: pointer;
}
.fa-trash, .fa-square-o, .fa-check-square{
	top: 7px;
}

.fa-check-square{
	color: #00802b;
}

.fa-trash{
	color: #990000;
}

.fa-square-o{
	color: #ccc;
}

.checked{
	text-decoration: line-through;
}